#mapId {
    height: 860px;
    width: 900px;
}


@media(max-width: 900px) {
    #mapId {
        width: 600px;
    }
}

@media(max-width: 600px) {
    #mapId {
        width: 430px;
        height: 500px;
    }
}

@media(max-width: 410px) {
    #mapId {
        width: 300px;
        height: 430px;
    }
}

.mapWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.delete-button {
    background-color: #FF3C38;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    margin: auto;
}

.delete-button :hover {
    cursor: pointer;
}

#rainbowPopup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#rainbowDetails {
    display: flex;
    align-content: flex-start;
    padding-top: 10px;
    width: 100px;
}

#likes {
    align-self: center;
}