.admin-table {
  border-collapse: collapse;
  width: 100%;
}
.admin-table td, .admin-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.admin-table tr:nth-child(even) {
    background-color: #f2f2f2
}

.admin-table tr:hover {
    background-color: #ddd;
}

.admin-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #e7bb41;
  color: white;
}