@import 'antd/dist/antd.css';

html, body {
  height: 100vh;
  display: flex; 
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.header-section {
  background-color: #00A7E1;
}

#title {
  color: white;
  text-align: center;
}

.footer-section {
  color: white;
  background-color: #613DC1;
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
  align-self: flex-end;
}

.content-section {
  flex: 1 0 auto;
  background-color: #F0F7F4;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #F0F7F4;
}

.register-form-button {
  background-color: #00A7E1;
}

