@import 'antd/dist/antd.css';

html, body {
  display: flex; 
  flex-direction: column;
  font-family: 'Mandali', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.header-section {
  background-color: #00A7E1;
}

#title {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.footer-section {
  color: white;
  background-color: #613DC1;
  width: 100%;
  align-self: flex-end;
}

.content-section {
  flex: 1 0 auto;
  background-color: #F0F7F4;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #F0F7F4;
}

.auth-form-button {
  background-color: #00A7E1;
}

.antd-layout {
  height: 100vh;
}