.link {
    color: #00A7E1;
    text-decoration: underline;
    text-align: center;
}

.link:hover {
    color: #613DC1;
    cursor: pointer;
}

h1 {
    color: #613DC1
}

.card-login {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    padding-top: -20px;
}

#auth-hero-img {
    width: 300px;
    margin: auto;
}

@media(max-width: 750px) {
    #auth-hero-img {
        width: 200px;
        margin: auto;
    }
  }

  @media(max-width: 480px) {
    #auth-hero-img {
        width: 100px;
        margin: auto;
    }
  }